body {
    color: #999;
}
.container{
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.item{
  width: 120px;
  height: 120px;
  border: 1px solid black;
  box-sizing: border-box;
}
.item.active{
  background-image: url("https://github.com/netology-code/ahj-homeworks/blob/AHJ-50/dom/pic/goblin.png?raw=true");
}
